<!DOCTYPE html>

<html>
<head>
    <title>CRUD</title>
    <script src="@Url.Content("../../Scripts/vue.js")"></script>
    <script src="@Url.Content("../../Scripts/axios.min.js")"></script>
    <script src="@Url.Content("../../Scripts/lodash.min.js")"></script>
    <style>
        .modal {
            border: black 1px solid;
            height: 250px;
            left: 25%;
            position: fixed;
            top: 25%;
            width: 250px;
        }
    </style>
</head>
<body>
<div>
    <h4>CRUD</h4>
    <div id="crud">
        <input v-model="keyword">{{ message }}
        <table border="1">
            <tr>
                <td>商品名稱</td>
                <td>商品價格</td>
                <td>
                    <button v-on:click="add">新增</button>
                </td>
            </tr>
            <tr v-for="item in data.Products">
                <td>{{ item.Name }}</td>
                <td>{{ item.Price }}</td>
                <td>
                    <button v-on:click="edit(item.ProductId)">編輯</button>
                </td>
                <td>
                    <button v-on:click="del(item.ProductId)">刪除</button>
                </td>
            </tr>
        </table>
        <div class="modal" v-if="isAdd">
            商品名稱: <input v-model="data.AddProduct.Name">
            商品價格: <input v-model="data.AddProduct.Price">
            <button v-on:click="save">儲存</button>
        </div>
        <div class="modal" v-if="isEdit">
            商品名稱: <input v-model="data.EditProduct.Name">
            商品價格: <input v-model="data.EditProduct.Price">
            <button v-on:click="update">更新</button>
        </div>
    </div>
    <script>
        var crud = new Vue({
            el: '#crud',
            data: {
                keyword: '',
                message: '',
                data: null,
                isAdd: false,
                isEdit: false
            },
            watch: {
                keyword: function() {
                    this.message = '查詢中...';
                    this.debouncedQuery();
                }
            },
            methods: {
                //查詢
                query: function() {
                    var d = this.$data;
                    if (!_.isNil(d.data)) {
                        d.data.Keyword = d.keyword;
                    }
                    axios.post('/crud/query', d.data)
                        .then(function(response) {
                            d.data = response.data;
                            d.message = '';
                        });
                },
                //新增
                add: function() {
                    var d = this.$data;
                    d.isAdd = true;
                    d.isEdit = false;
                },
                //儲存
                save: function() {
                    if (confirm('確定儲存?')) {
                        var d = this.$data;
                        axios.post('/crud/save', d.data.AddProduct)
                            .then(function(response) {
                                if (response.status === 200) {
                                    d.data.Products.push(response.data);
                                    alert('儲存成功');
                                    d.isAdd = false;
                                }
                            })
                            .catch(function(error) {
                                alert(error);
                                console.log(error);
                            });;
                    }
                },
                //編輯
                edit: function(productId) {
                    var d = this.$data;
                    d.isAdd = false;
                    d.isEdit = true;
                    d.data.EditProduct = _.find(d.data.Products, function(o) {
                        return o.ProductId === productId;
                    });
                },
                //更新
                update: function() {
                    if (confirm('確定更新?')) {
                        var d = this.$data;
                        axios.post('/crud/update', d.data.EditProduct)
                            .then(function(response) {
                                if (response.status === 200) {
                                    alert('更新成功');
                                    d.isEdit = false;
                                }
                            })
                            .catch(function(error) {
                                alert(error);
                                console.log(error);
                            });;
                    }
                },
                //刪除
                del: function(productId) {
                    var d = this.$data;
                    d.isAdd = false;
                    d.isEdit = false;
                    if (confirm('確定刪除?')) {
                        axios.post('/crud/delete', { productId: productId })
                            .then(function(response) {
                                if (response.status === 200) {
                                    d.data.Products = d.data.Products.filter(function(o) {
                                        return o.ProductId !== productId;
                                    });
                                    alert('刪除成功');
                                }
                            })
                            .catch(function(error) {
                                alert(error);
                                console.log(error);
                            });;
                    }
                }
            },
            mounted() {
                this.query();
                this.debouncedQuery = _.debounce(this.query, 500);
            }
        });
    </script>
</div>
</body>
</html>